# RENDER DB URL
DATABASE_URL=postgres://user:password@localhost:5432/dbname

# FIREBASE API KEY FOR AUTH
AUTH_API_KEY="apikey"
API_KEY="apollo api key"

# AWS SECRETS FOR S3 UPLOADS
AWS_BUCKET_NAME="s3 bucket name"
AWS_ACCESSKEY_ID="access id key otg"
AWS_SECRET_ACCESSKEY="third party access secretkey otg"

